body {
  margin: 0;
}

section {
  display: block;
  background: #333;
  height: 150px;
  margin: 10px 0;
  position: relative;
}

div {
  display: inline-block;
  position: absolute;
  height: 130px;
  top: 10px;
  background: pink;
}

#scrubber {
  display: block;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 1px;
  background: black;
}