body {
  margin: 0;
}

section {
  display: block;
  background: #333;
  height: 100px;
  margin: 10px 0;
  position: relative;
}

div {
  display: inline-block;
  position: absolute;
  height: 80px;
  top: 10px;
  background: pink;
}

#scrubber {
  display: block;
  position: fixed;
  top: 0px;
  bottom: 0px;
  width: 1px;
  background: black;
  z-index: 99;
}